a.social {
    --bg-img: "";
    background-image: var(--bg-img);
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    -webkit-background-clip: initial;
    background-clip: initial;

    &[aria-label="tiktok"] {
        --bg-img: url(../resources/icons/tiktok.svg);
    
        &:hover{
            --bg-img: url(../resources/icons/tiktok-hover.svg);
        }
    }

    &[aria-label="instagram"] {
        --bg-img: url(../resources/icons/instagram.svg);
    
        &:hover{
            --bg-img: url(../resources/icons/instagram-hover.svg);
        }
    }

    &[aria-label="twitter"] {
        --bg-img: url(../resources/icons/twitter.svg);
    
        &:hover{
            --bg-img: url(../resources/icons/twitter-hover.svg);
        }
    }

    &[aria-label="discord"] {
        --bg-img: url(../resources/icons/discord.svg);
    
        &:hover{
            --bg-img: url(../resources/icons/discord-hover.svg);
        }
    }
}
